// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #4f46e5; /* Indigo */
  --ion-color-primary-contrast: #ffffff;

  --app-gradient: linear-gradient(160deg, #4f46e5 0%, #22c55e 100%);
  --app-radius: 18px;
}

